<%- include('./layout/header') %> 
<%- include('./partials/adminNavbar') %>

<div class="loader-content">
  <div class="loader"></div>
</div>

<div class="dashboard-wrapper">
  <div class="sidebar-placeholder"></div> 

  <div class="container" id="dashboard">
    <div class="tabcontent" id="user" style="display:block">
      <div class="user-container">
        <h2>Users</h2>
        <p>List of Users</p>
      
        <table class="table display responsive nowrap" id="userTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function(user) { %>
              <% if (user.email !== 'admin@example.com') { %>
              <tr>
                <td><%= user.fullName %></td>
                <td><%= user.email %></td>
                <td>
                  <a href="/user/<%= user._id %>/block" class="btn <%= user.isBlocked ? 'btn-success' : 'btn-warning' %>">
                      <%= user.isBlocked ? 'Unblock' : 'Block' %>
                    </a>
                  <a href="/user/<%= user._id %>/delete" class="btn btn-danger">Delete</a>
                </td>
              </tr>
              <% } %>
            <% }) %>
          </tbody>
        </table>
      </div>
      
    </div>
  
    <div class="tabcontent" id="product" style="display:none">
      <div class="products-container">
        <h2>Products</h2>
        <p>
          List of products  
          <button class="btn waves-effect waves-light red" id="addProductBtn">Add</button>
        </p>
        <table class="table display responsive nowrap" style="width: 100%;" id="productsTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Category</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Retailer</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="productsTableBody">
            
          </tbody>
        </table>

      </div>

      <!-- Add Product Modal -->
      <div id="addProductModal" class="modal">
        <div class="modal-content">
          <h4>Add Product</h4>
          <form id="addProductForm">
            <div class="input-field">
              <input type="text" id="addProductName" name="name" required />
              <label for="addProductName">Name</label>
            </div>
            <div class="input-field">
              <input type="text" id="addProductDescription" name="description" required />
              <label for="addProductDescription">Description</label>
            </div>
            <div class="input-field">
              <select id="addProductCategory" name="category" required>
                <option value="" disabled selected>Choose a category</option>
              </select>
              <label for="addProductCategory">Category</label>
            </div>
            <div class="input-field">
              <input type="number" id="addProductPrice" name="price" required />
              <label for="addProductPrice">Price</label>
            </div>
            <div class="input-field">
              <input type="number" id="addProductQuantity" name="quantity" required />
              <label for="addProductQuantity">Quantity</label>
            </div>
            <div class="input-field">
              <select id="addProductRetailer" name="retailer" required>
                <option value="" disabled selected>Choose a retailer</option>
              </select>
              <label for="addProductRetailer">Retailer</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn waves-effect waves-light green">Add</button>
              <a href="#!" class="modal-close btn waves-effect waves-light red">Cancel</a>
            </div>
          </form>
        </div>
      </div>
      
      <!-- Edit Product Modal -->
      <div id="editProductModal" class="modal">
        <div class="modal-content">
          <h4>Edit Product</h4>
          <form id="editProductForm">
            <div class="input-field">
              <input type="text" id="productName" name="name" required />
              <label for="productName">Name</label>
            </div>
            <div class="input-field">
              <input type="text" id="productDescription" name="description" required />
              <label for="productDescription">Description</label>
            </div>
            <div class="input-field">
              <select id="productCategory" name="category" required>
                <option value="" disabled selected>Choose a category</option>
              </select>
              <label for="productCategory">Category</label>
            </div>
            <div class="input-field">
              <input type="number" id="productPrice" name="price" required />
              <label for="productPrice">Price</label>
            </div>
            <div class="input-field">
              <input type="number" id="productQuantity" name="quantity" required />
              <label for="productQuantity">Quantity</label>
            </div>
            <div class="input-field">
              <select id="productRetailer" name="retailer" required>
                <option value="" disabled selected>Choose a retailer</option>
              </select>
              <label for="productRetailer">Retailer</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn waves-effect waves-light green">Save</button>
              <a href="#!" class="modal-close btn waves-effect waves-light red">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="tabcontent" id="order" style="display:none">
      <div class="order-container">
        <h2>Orders</h2>
        <p>List of Orders</p>
        <table class="table display responsive nowrap" id="ordersTable">
          <thead>
            <tr>
              <th>Customer</th>
              <th>Address</th>
              <th>Order Items</th>
              <th>Total Amount</th>
              <th>Status</th>
              <th>Order Date</th>
              <th>Shipped Date</th>
              <th>Delivered Date</th>
            </tr>
          </thead>
          <tbody id="ordersTableBody">
        
          </tbody>
        </table>

      </div>
      
    </div>
  
    <div class="tabcontent" id="password" style="display:none">
      <div class="password-container">
        <%- include('./partials/adminPassword', { message: message }) %>
      </div>
    </div>
  
  </div>

</div>


<%- include('./layout/footer') %>